= link_to 'Back to all questions', questions_path
.div
  = image_tag( @question.image, width: '300')
.div
  = @question.description

= form_for @answer, url: question_answers_path(@question) do |f|
  = f.radio_button(:response, true)
  = f.label(:response_true, "Yes")
  = f.radio_button(:response, false)
  = f.label(:response_false, "No")
  = f.hidden_field(:user_id, { value: current_user.id })
  = f.hidden_field(:question_id, { value: @question.id })
  = f.submit "Submit answer"
