= form_for :user, as: :post, url: register_path do |f|
  Name:
  = f.text_field :name
  Email :
  = f.text_field :email

  = f.submit

- if logged_in?
  = link_to 'Log out', logout_path
- else
  = link_to 'Log in', login_path
